.statusBar button {
  border: none;
  cursor: pointer;
}
.statusBar {
  box-sizing: border-box;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: relative;

  background-color: var(--background-color);
  margin-bottom: 2rem;
}

.statusBar--homeBtn {
  color: var(--brand-color);
  font-size: 2.6rem;
  font-weight: bold;
}

.statusBar--title {
  font-size: 2.2rem;
  font-weight: bold;
}

.statusBar--pageBtn,
.statusBar--pageBtn__login {
  color: #707070;
  display: flex;
  justify-content: space-between;
}

.statusBar--pagebtn {
  width: 8rem;
}
.statusBar--pageBtn__login {
  width: 12rem;
}

.statusBar--pageBtn button,
.statusBar--pageBtn__login button {
  font-size: 0.9rem;
}
