{% extends 'base.html' %}
{% load static %}
<body>
    {% block content %}
        <div class="statusBar">
            <button class="statusBar--homeBtn" onclick="location.href='{% url 'index' %}'">
                H.GG
            </button>
        </div>
        <form method="post" id="loginBox" action="{% url 'loginIndex' %}">
            {% csrf_token %}
            <fieldset>
                <li class="loginBox--list">
                    <label for="username">아이디</label>
                    <input
                        required="required"
                        type="text"
                        name="username"
                        id="username"
                        value="{{ form.username.value|default_if_none:'' }}"
                        placeholder="아이디를 입력해주세요."/>
                </li>
                <li class="loginBox--list">
                    <label for="password">비밀번호</label>
                    <input
                        required="required"
                        type="password"
                        name="password"
                        id="password"
                        value="{{ form.password.value|default_if_none:'' }}"
                        placeholder="비밀번호를 입력해주세요."/>
                </li>
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red; font-size:bold;">{{ message }}</span>
                    {% endfor %}
                {% endif %}
                <div class="loginBox--save">
                    <span class="loginBox--saveId">
                        <input type="radio"/>
                        <label>아이디를 저장</label>
                    </span>
                    <a>
                        계정을 잊으셨나요?
                    </a>
                </div>
                <button id="loginBtn">
                    로그인
                </button>
                <div id="loginBox-isUser">
                    아직 회원이 아니신가요?
                    <a href="{% url 'signup' %}">회원가입</a>
                </div>
            </fieldset>
        </form>

    {% endblock %}
</body>