{% extends 'base.html' %} {% load static %}
<body>
    {% block content %}
    <div class="statusBar">
        <button
            class="statusBar--homeBtn"
            onclick="location.href='{% url 'index' %}'"
        >
            H.GG
        </button>
        <form  style="width: 40%" action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <div class="ui icon input">
              <input type="text" placeholder="상품명을 검색해주세요." name="q"/>
              <i onclick="location.href='{% url 'search' %}'" class="circular search link icon"></i>
            </div>
          </form>
        <!-- 버튼위치관련 -->
        <div class="statusBar--pageBtn">
            <button onclick="location.href='{% url 'register' %}'">
                상품등록
            </button>
            {% if user.is_authenticated %}
            <button onclick="location.href='{% url 'logout' %}'">
                로그아웃
            </button>
            {% else %}
            <button onclick="location.href='{% url 'loginIndex' %}'">
                로그인
            </button>
            {% endif %}
        </div>
    </div>
    <div class="noticeBox">
        <article class="noticeBox--body">
            <header class="noticeBox--name">{{ post.title }}</header>
            <!-- 이 피에지는 공지사항 글쓴 데이터를 받는것으로 잘 해주십쇼-->
            <p class="noticeBox--writer">{{ post.user }}</p>
            <p class="noticeBox--createDate">{{ post.created_at }}</p>
            <p class="noticeBox--article">
                {% if post.image %}
                <img src="{{ post.image.url }}" height="80%" width="100%" />
                {% endif %}
                <!--
                <img
                    src="{% static 'images/banner/banner1.png' %}"
                    height="80%"
                    width="100%"
                />
                <img
                    src="{% static 'images/banner/banner1.png' %}"
                    height="80%"
                    width="100%"
                />
                -->
                {{ post.content }}
            </p>
        </article>
        <!-- 데이터 받아오기 -->
    </div>
    {% endblock %}
</body>
