{% extends 'base.html' %} {% load static %}
<body>
    {% block content %}
    <div class="statusBar">
        <button
            class="statusBar--homeBtn"
            onclick="location.href='{% url 'index' %}'"
        >
            H.GG
        </button>
        <div class="ui icon input" style="width: 40%">
            <input type="text" placeholder="Search..." />
            <i class="circular search link icon"></i>
        </div>
        <!-- 버튼위치관련 -->
        <div class="statusBar--pageBtn">
            <button onclick="location.href='{% url 'register' %}'">
                상품등록
            </button>
            <button onclick="location.href='{% url 'loginIndex' %}'">
                로그인
            </button>
        </div>
    </div>

    <div class="reviewForm">
        <article class="reviewForm--body">
            <header class="reviewForm--name">{{ product.name }}</header>
            <p class="detailBox--article">
                <img
                    src="{% static 'images/banner/banner1.png' %}"
                    height="80%"
                    width="100%"
                />
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
                ad quae ducimus non blanditiis minus iusto possimus officiis
                sequi doloremque beatae, repudiandae, quidem impedit fugiat
                provident tempora amet quisquam facilis. Voluptas eveniet
                voluptates, molestias aperiam harum impedit quos distinctio aut
                amet obcaecati veniam. Quidem deserunt ullam animi explicabo!
                Repellendus quas adipisci laborum iusto odit dolorum illum
                facilis, repellat totam dolor. Cumque, placeat quidem ipsam
                perspiciatis expedita praesentium laboriosam numquam. Numquam
                ipsa repellat commodi omnis labore ut ipsum nisi quo provident?
                Nobis vitae maiores in excepturi dignissimos consectetur quas
                quia cum. Facere, eum ipsa earum tenetur sit obcaecati
                necessitatibus eligendi magnam odit libero doloribus, eos dolor
                repellendus! Ad enim iusto rerum blanditiis quam, architecto
                excepturi modi deleniti dicta aperiam dolor quibusdam. Et
                dolores veniam doloribus excepturi velit ea provident ad,
                reiciendis sed vel natus ipsum, perspiciatis nesciunt voluptatum
                voluptas accusantium temporibus, inventore vero. Voluptates
                illum dignissimos ipsam, distinctio placeat natus? Corrupti?
                Dolorum libero iusto odit asperiores, optio quos veritatis
                itaque laborum officia id, facere temporibus soluta culpa
                quibusdam aliquid consectetur tenetur qui ratione hic
                voluptates? Iusto id corporis doloremque dolore fuga? Voluptates
                neque labore recusandae quae tempore at aut similique quos
                libero? Dolor amet unde accusamus at eos porro eligendi impedit
                ducimus laudantium mollitia cumque repellendus ipsa, aliquid
                ratione maxime libero. Molestias odit modi quo? Adipisci fuga
                sunt dolores iusto hic enim rem recusandae nostrum veniam in
                ratione ut voluptas magnam qui itaque similique fugiat error
                tempore blanditiis harum, quisquam explicabo! Minima ducimus
                omnis tenetur, iste et atque error, hic tempora sunt ullam,
                eveniet nam quis voluptas placeat. Voluptate totam ipsam nam
                asperiores a sequi odit ab repudiandae quasi similique! Eaque!
                Quod, in consequatur incidunt aperiam dolore cum consequuntur!
                Odio vel commodi earum nobis omnis, dicta aut consequuntur sunt
                necessitatibus eligendi velit, nam eaque impedit incidunt unde
                illum officiis architecto sit!
                <!--
                <img
                    src="{% static 'images/banner/banner1.png' %}"
                    height="80%"
                    width="100%"
                />
                <img
                    src="{% static 'images/banner/banner1.png' %}"
                    height="80%"
                    width="100%"
                />
                -->
                {{ product.description }}
            </p>
        </article>
    </div>

    <div class="summaryInfo">
        <table>
            <tr>
                <td class="text-color">카테고리</td>
                <td>
                    ㅇㅇㅇㅇ
                    <!--db에서 정보-->
                </td>
            </tr>

            <tr>
                <td class="text-color">업체</td>
                <td>ㅇㅇㅇㅇㅇㅇㅇ</td>
            </tr>

            <tr>
                <td class="text-color">배송기간</td>
                <td>ㅇㅇㅇㅇㅇㅇㅇ</td>
            </tr>

            <tr>
                <td class="text-color">가격</td>
                <td>ㅇㅇㅇㅇㅇㅇㅇ</td>
            </tr>

            <tr>
                <td class="text-color" style="padding-bottom: 1rem">만족도</td>
                <td>ㅇㅇㅇㅇㅇㅇㅇ</td>
            </tr>
        </table>
    </div>
    {% endblock %}
</body>
