{% extends 'base.html' %} {% load static %}
<body>
    {% block content %}
    <div class="statusBar">
        <button
            class="statusBar--homeBtn"
            onclick="location.href='{% url 'index' %}'"
        >
            H.GG
        </button>
        <div class="ui icon input" style="width: 40%">
            <input type="text" placeholder="Search..." />
            <i class="circular search link icon"></i>
        </div>
        <!-- 버튼위치관련 -->
        <div class="statusBar--pageBtn">
            <button onclick="location.href='{% url 'register' %}'">
                상품등록
            </button>
            <button onclick="location.href='{% url 'loginIndex' %}'">
                로그인
            </button>
        </div>
    </div>
    <div class="menubar">
        <div
            class="ui violet three item inverted menu"
            style="background-color: #6524ff"
        >
            <a class="active item" href="{% url 'productList' %}">
                상품게시판
            </a>
            <a class="item"> 후기게시판 </a>
            <a class="item" href="{% url 'noticeBoard' %}"> 공지사항 </a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img
                        id="banner1"
                        src="{% static 'images/banner/banner1.png' %}"
                    />
                </div>
                <div class="swiper-slide">
                    <img
                        id="banner2"
                        src="{% static 'images/banner/banner2.png' %}"
                    />
                </div>
            </div>
            <!-- If we need pagination -->
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            loop: true,
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            // And if we need scrollbar
        });
    </script>
    <div class="ui divider"></div>
    <div class="content-header">
        <p>카테고리</p>
        <div class="ui violet two item menu">
            <a class="item"> Home </a>
            <a class="item"> Messages </a>
        </div>
    </div>
    <div class="reviewBox">
        <section class="reviewBox--item">
            <p>
                <header>후기 게시물 제목</header>
                <span>작성자</span>
            </p>
            <div class="score">
                <i class="far fa-star fa-xs "></i>
                <i class="far fa-star fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
              </div>
        </section>
        <section class="reviewBox--item"></section>
        <section class="reviewBox--item"></section>
        <section class="reviewBox--item"></section>
    </div>
    {% endblock %}
</body>
