{% extends 'base.html' %} {% load static %}
<body>
    {% block content %}
    <div class="statusBar">
        <button
            class="statusBar--homeBtn"
            onclick="location.href='{% url 'index' %}'"
        >
            H.GG
        </button>
        <div class="ui icon input" style="width: 40%">
            <input type="text" placeholder="Search..." />
            <i class="circular search link icon"></i>
        </div>
        <!-- 버튼위치관련 -->
        <div class="statusBar--pageBtn">
            <button onclick="location.href='{% url 'register' %}'">
                상품등록
            </button>
            {% if request.user.is_authenticated %}
            <button onclick="location.href='{% url 'index' %}'">
                로그아웃
            </button>
            {% else %}
            <button onclick="location.href='{% url 'loginIndex' %}'">
                로그인
            </button>
            {% endif %}
        </div>
    </div>

    <div class="menubar">
        <div
            class="ui violet three item inverted menu"
            style="background-color: #6524ff"
        >
            <a class="active item" href="{% url 'productList' %}">
                상품게시판
            </a>
            <a class="item" href="{% url 'reviewList' %}"> 후기게시판 </a>
            <a class="item" href="{% url 'noticeBoard' %}"> 공지사항 </a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img
                        id="banner1"
                        src="{% static 'images/banner/banner1.png' %}"
                    />
                </div>
                <div class="swiper-slide">
                    <img
                        id="banner2"
                        src="{% static 'images/banner/banner2.png' %}"
                    />
                </div>
            </div>
            <!-- If we need pagination -->
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            loop: true,
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            // And if we need scrollbar
        });
    </script>
    <div class="ui divider"></div>
    <div class="content-header">
        <p>상품후기</p>
    </div>
    <!-- DB에 저장된 내용 for문으로 가져오기 -->
    <!-- ListView가 object_list context변수 전달-->
    {% for review in object_list %}
    <div class="reviewBox">
        <section class="reviewBox--item">
            <div class="reviewBox--Info">
                <header>{{ review.title }}</header>
                <span> 작성자 </span>
            </div>
            {% if review.image %}
            <div id="reviewBox--Img">
                <img
                    height="100%"
                    width="100%"
                    src="{{ review.image.url }}"
                    alt=""
                />
            </div>
            {% endif %}
        </section>
        <!-- image없을 때 에러처리 (이미지 required하면 없어도 될 듯) -->
    </div>
    {% endfor %}
    <div id="reviewBtn">
        <button href="{% url 'review' %}">
            <a href="{% url 'review' %}">후기쓰기</a>
        </button>
    </div>

    {% endblock %}
</body>
