/* 게시판 */
.notice-board {
    box-sizing: border-box;
    width: 80%;
    height: 25rem;
    font-size: 0.8rem;
}
/* 게시판 컨텐츠 감싸는 바깥 박스 */
.notice-board-outbox {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

/* 게시글 각 칸 레이아웃 - 번호, 제목, 날짜, 작성자, 조회수 */
.notice-board--line__summary,
.notice-board--line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

/* 게시판 첫 번째 칸 - 번호, 제목, 날짜, 작성자, 조회수 배경색 및 border */
.notice-board--line__summary {
    background-color: #dedede;
    border-top: solid 1px;
}

/* 게시글 제목레이아웃 중 번호, 날짜, 작성자, 조회수 레이아웃 */
.notice-board--line__small {
    box-sizing: border-box;
    width: 15%;
    text-align: center;
}

/* 게시글 제목 레이아웃 중 제목 */
.notice-board--line__title {
    box-sizing: border-box;
    width: 60%;
}

/* 게시판 두번째 칸 이후 실제 게시글 제목 CSS*/
.notice-board--line {
    border-bottom: 1px solid #999999;
}

/* paginator 번호 레이아웃 */
.page-order {
    height: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
}

/* paginator 화살표 CSS */
.h-5 {
    height: 1.5rem;
}
.h-5:hover {
    cursor: pointer;
}

/* 현재 페이지 번호 */
#currentPage {
    font-size: 1rem;
    font-weight: 500;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
}

/* 공지사항 게시글 작성 페이지 - notice-post.html */
/* Todo - Quill 라이브러리로 글 작성 툴바 추가 */

/* 게시글 작성 전체 감싸는 박스 */
.post-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 40rem;
    justify-content: center;
    margin-top: 7rem;
}

/* 게시글 작성칸 */
.notice-board--posting {
    position: relative;
    top: 3rem;
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
    padding: 3rem;
    font-size: 15px;
    resize: none;
}

/* 하단 divider */
.notice-board--division {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    position: relative;
    top: 3rem;
    border-bottom: 1px solid;
}

/* 목록으로 버튼 CSS */
.notice-board--toList {
    position: relative;
    top: 4rem;
    background-color: black;
    color: white;
    height: 1.5rem;
    border: none;
    cursor: pointer;
}
