{% extends 'base.html' %}
{% load static %}
<body>
    {% block content %}
        <div class="statusBar">
            <button class="statusBar--homeBtn" onclick="location.href='{% url 'index' %}'">
                H.GG
            </button>
        </div>
        <form method="post" action="{% url 'signup' %}" id="registerBox">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    {{ field.errors }}
                    <div class="registerBox--list">
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>
                        <input
                            style="border: 2px solid #6524FF"
                            required="required"
                            type="{{ field.field.widget.input_type }}"
                            class="form-control"
                            id="{{field.id_for_label}}"
                            placeholder="{{field.label}}"
                            name="{{field.name}}를 입력해주세요."/>
                    </div>
                {% endfor %}
            </fieldset>
            <button id="registerBtn">
                <i class="fas fa-check xs"></i>회원가입
            </button>
        </form>

    {% endblock %}
</body>